* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #262626;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #262626;
    color: #fff;
}
.btn:hover {
    opacity: 0.9;
}

.btn-link {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
}
.btn-link i {
    transition: margin-left 0.2s ease-in-out;   
}
.btn-link:hover i {
    margin-left: 10px;
}

.light {
    color: #fff;
}
.light .btn {
    color: #333;
    background: #f4f4f4;
}

/* Menu */
.ham-menu {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

/* Main Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav li a {
    padding-bottom: 2px;
}

.main-nav li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 400px;
    background: url('./img/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, 
.showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

/* Home cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}

.home-cards .card img {
    width: 100%;
}

.home-cards .card h3,
.home-cards .card p {
    padding-top: 10px;
}

/* Xbox */
.xbox,
.carbon {
    background: url("./img/xbox.png") no-repeat center center/cover;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.xbox .content,
.carbon .content {
    width: 40%;
    padding: 50px 0 0 30px;
}

.xbox .content p,
.carbon .content p {
    margin: 10px 0 20px;
}

/* Carbon */
.carbon {
    background-image: url("./img/carbon.jpg");
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}

/* Follow */
.follow {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}
.follow * {
    margin-right: 10px;
}

/* Links */
section.bottom-links {
    width: 100%;
    padding: 30px 0 30px;
    font-size: 11px;
    color: #757575;
    background-color: #f2f2f2;
}

.bottom-links .footer-links,
.bottom-links .footer {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.bottom-links .footer-links {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.bottom-links .footer-links ul li {
    line-height: 2.8;
}

.bottom-links .footer-links ul li a:hover,
.bottom-links .language a:hover,
.bottom-links .footer ul a:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

.bottom-links .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-links .footer ul {
    display: flex;
    flex-wrap: wrap;
}

.bottom-links .footer ul li {
    margin-left: 30px;
}

.bottom-links .footer .language {
    display: flex;
    align-items: center;
}

.bottom-links .language i {
    margin-right: 10px;
}

.footer-links ul {
    padding: 20px 0 0 0;
}

/* Responsive Design */
@media(max-width: 700px) {
    .ham-menu {
        display: inline-block;
        top: 3%;
        right: 5%;
    }
    .ham-menu:hover {
        opacity: 0.5;
    }

    .main-nav .right-menu {
        margin-right: 40px;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        padding: 30px;
        background-color: #f2f2f2;
        border-right: 1px solid #ccc;
        opacity: 0.9;
        top: 0;
        left: 0;
        transform: translateX(-500px);
        transition: transform 0.3s ease-in-out;
    }
    .main-nav .main-menu.show {
        padding-top: 30px;
        transform: translateX(-20px);
    }
    .main-nav .main-menu li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }
    .main-nav .main-menu li:last-child {
        border-bottom: none;
    }

    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom-links .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }

    .xbox .content {
        width: 60%;
    }
    .xbox .content h2 {
        margin-bottom: 20px;
    }
    .xbox .content p{
        display: none;
    }

    .carbon .content {
        width: 85%;
        padding: 50px 0 0 20px
    }
}

@media(max-width: 500px) {
    .home-cards {
        grid-template-columns: 1fr;
    }

    .bottom-links .footer-links {
        grid-template-columns: 1fr;
    }

    .xbox .content h2 {
        margin-bottom: 20px;
    }
    .xbox .content p{
        display: none;
    }

    .carbon .content {
        width: 85%;
    }
}